/* Apply general styling to the table */

.grid {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.grid th,
.grid td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ffffff;
}

/* Style each map container */
.map-containers {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.map {
	flex: 1;
	text-align: center;
	border: 1.4px solid #ff057a;
	/* border-radius: 5%; */
	border-start-start-radius: 5%;
	border-end-end-radius: 5%;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	/* Display rows next to each other */
	justify-content: center;
	gap: 19px;
}

.column {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 5px;
	flex: 1;
}

.user-image.hovered {
	transform: scale(1.1);
	/* Scale up the image on hover */
	transition: transform 0.3s ease-in-out;
}

/* Style user images within the map cells */
.user-image {
	cursor: pointer;
	max-width: 40px;
	max-height: 40px;
	border-radius: 50%;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	object-fit: cover;
}

.user-image[title]:hover:after {
	content: attr(title);
	position: absolute;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border-radius: 5px;
	white-space: nowrap;
	z-index: 1;
}

.search-border {
	border: 19px solid #ff057a;
	max-width: 1px;
	max-height: 1px;

	/* Change the border color as desired */
}

#searchResults {
	display: flex;
	justify-content: center;
	font-size: 30px;
	margin: 80px;
	color: #676464;
  }
/* Search bar styles */
.search-bar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

#searchBar {
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	width: 300px;
	font-size: 16px;
}

#searchBar:focus {
	border-color: #ff057a;
	outline: none;
}

#searchButton {
	padding: 10px 20px;
	background-color: #ff057a;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

#searchButton:hover {
	background-color: #ff057a;
}